/* #region Common */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --db-btn: #0061ff;
    --db-jumbotron: #b4d0e7;
} 

body {
    font-family: 'Open Sans', sans-serif;
}
/* #endregion Common */

/* #region Utilities */
.container-lg {
    width: 60%;
    margin: 0 auto;
}

.container-sm {
    width: 50%;
    margin: 0 auto;
}

.col-4 {
    width: calc(100% / 3);
}

.col-12 {
    width: 100%;
}

.col-6 {
    width: calc(100% / 2);
}

.col-8 {
    width: calc(100% /12 * 8);
}

section {
    margin: 2rem 0;
}

.row {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    margin-bottom: 1.5rem;
}
/* #endregion Utilities */

/* #region Debug*/
.debug nav {
    height: 70px;
    border-bottom: 1px solid black;
    background-color: gray;
}

.debug .jumbotron {
    height: 600px;
}

.debug .jumbotron>.container-lg {
    background-color: blue;
    height: 100%;
}

.debug #app_main {
    background-color: orange;
}
.debug #plans {
    height: 1000px;
    
}

.debug .title {
    height: 20%;
}

.debug #plans>.container-sm {
    background-color: red;
    height: 100%;
}

.debug #plans .row {
    background-color: green;
    height: 80%;
}

.debug [class^="col"] {
    background-color: aqua;
    border: 1px solid blue;
}

.debug #plans .col-4 {
    height: 60%;
}

.debug #plans .col-12 {
    height: 30%;
}

.debug #partner [class^="col"],
.debug #operations [class^="col"] {
    height: 300px; 
}

.debug #partner .container-sm {
    background-color: pink;
    height: 500px;
}

.debug #operations .container-sm {
    background-color: yellow;
    height: 800px;
}

.debug #collab .container-sm,
.debug #free-trial .container-sm {
    height: 300px;
    background-color: pink;
}

.debug #designit {
    height: 500px;
    background-color: #0061ff;
}

.debug #faq {
    height: 510px;
}
/* #endregion Debug*/

/* #region Header */
.jumbotron {
    background-color: var(--db-jumbotron);
    
}
/* #endregion Header */

/* #region Main */

#designit {
    width: 100%;
}

#free-trial {
    background-color: var(--db-jumbotron);
}
/* #endregion Main */