/* #region Common */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --db-btn: #0061ff;
    --db-primary: #b4d0e7;
    --db-lighter: #fff;
    --db-darker: #000;
    --db-dark: #545454;
    --db-light: #BBBBBB;
    --db-caption: #f5f5f5;
    --db-designit: #a2d39b;
    --db-designit-border: #d1e9cd;
    --db-florida: #0093ce;
    --db-arizona: #61082b;
    --db-topps: #ff1c1c;
    --db-bycicle: #d5001f;
    --db-lonely: #0d2481;
    --db-clear: #ffd830;
} 

body {
    font-family: 'Open Sans', sans-serif;
}
/* #endregion Common */

/* #region Utilities */
.container {
    width: 100%;
}

.container-lg {
    width: 62%;
    max-width: 900px;
    margin: 0 auto;
}

.container-sm {
    width: 52%;
    max-width: 750px;
    margin: 0 auto;
}

.d-flex {
    display: flex;
}

.d-block {
    display: block;
}

.d-iblock {
    display: inline-block;
}

.jc-sb {
    justify-content: space-between;
}

ul {
    list-style: none;
}

.blue-btn {
    padding: 0.3rem 0.9rem;
    background-color: var(--db-btn);
    color: var(--db-lighter);
}

.bg-btn {
    border: 1px solid var(--db-dark);
    color: var(--db-dark);
    padding: 0.5rem;
    font-size: 0.8rem;
}

.white-btn {
    padding: 0.5rem 2rem;
    font-size: 0.8rem;
    color: var(--db-dark);
    background-color: var(--db-lighter);
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 1.5rem;
}

.col-3 {
    width: calc(100% /12 * 3 + 20px);
}

.col-4 {
    width: calc(100% / 3);
}

.col-5 {
    width: calc(100% / 12 * 5);
}

.col-6 {
    width: calc(100% / 2);
}

.col-7 {
    width: calc(100% / 12 * 7);
}

.col-8 {
    width: calc(100% / 12 * 8);
}

.col-9 {
    width: calc(100% / 12 * 9 - 20px);
}

.col-12 {
    width: 100%;
}

a.blue-btn {
    text-decoration: none;
}

a.bg-btn {
    text-decoration: none;
}

a.white-btn {
    text-decoration: none;
}

.font-sm {
    font-weight: 300;
    font-size: 0.72rem;
}

.font-md {
    font-size: 0.8rem;
    font-weight: 300;
}

.pr-1 {
    padding-right: 1rem;
}

.p-13 {
    padding: 1.3rem;
}

h2 {
    font-size: 1.7rem;
    margin-bottom: 2rem;
}

h3 {
    font-size: 1.3rem;
    margin-bottom: 0.8rem;
}

h4 {
    font-size: 1.1rem;
    margin-bottom: 0.7rem;
}

h6 {
    font-size: 0.72rem;
    margin: 1.5rem 0 1rem 0;
}

.sm-line {
    width: 2rem;
    margin: 2rem 0; 
    border-bottom: 1px solid var(--db-light);
}

.mid-line {
    width: 5rem;
    margin-bottom: 2rem;
    border-bottom: 1px solid var(--db-light);
}

.footer-line {
    width: 6rem;
    border-bottom: 1px solid var(--db-dark);
}
/* #endregion Utilities */

/* #region Header */
#app_header {
    margin-bottom: 9rem;
}

nav {
    background-color: var(--db-lighter);
    font-weight: 300;
    font-size: 0.8rem;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10000;
    box-shadow: 1px solid var(--db-light);
}

.nav-list {
    width: 100%;
    justify-content: space-between;
}

nav .left-bar li,
nav .right-bar li {
    padding: 1.1rem 0.7rem;
}

nav .nav-item:hover {
    border-bottom: 0.2rem solid blue;
} 

nav .blue-btn,
nav img {
    margin: 0.7rem 1rem;
}

/*.jumbotron */
.jumbotron {
    background-color: var(--db-primary);
    margin-top: 3.3rem;
}

.jumbotron h1 {
    font-weight: 800;
    font-size: 3.4rem;
    padding: 4rem 0 2rem 0;
}

.jumbotron p {
    margin-bottom: 1.5rem;
}

.jumbotron span {
    margin: 1.5rem 0 3rem 0;
}

.jumbotron i {
    font-size: 2.2rem;
    margin-bottom: 0.7rem;
}

.jumbotron .col-8 {
    position: relative;
} 

.jumbotron img {
    max-width: 105%;
    margin-bottom: -3.5rem;
}
/* #endregion Header */

/* #region Main */
#app_main {
    padding-top: 1rem;
}

/* #plans */
#plans .title {
    margin-bottom: 1.5rem;
}

#plans label {
    margin-right: 2rem;
}

#plans .row {
    margin: 0rem -0.8rem 3.5rem -0.8rem ;
}

#plans .col-4 {
    margin-bottom: 2rem;
}

#plans .col-4 .card {
    min-height: 100%;
}

#plans .card {
    border: 1px solid var(--db-light);
    margin: 0.8rem;
}

#plans .target {
    width: 100%;
    border-bottom: 1px solid var(--db-light);
    text-align: center;
    padding: 0.5rem 0;
    font-weight: 300;
}

#plans .card-body {
    padding: 1.3rem 1.5rem 2rem 1.3rem;
}

#plans .fa-check {
    color: var(--db-btn);
    font-weight: bold;
}

.card .price {
    font-weight: 700;
}

.card-body .time {
    margin: 0.5rem 0 1rem 0;
    color: var(--db-dark);
}

#plans .card .btn {
    margin: 2.5rem 0 2rem 0;
    text-align: center;
}

#plans .card .blue-btn {
    padding: 0.6rem 1.65rem;
}

#plans ul li {
    padding: 0.4rem 0;
}

#azienda-list {
    margin-top: 2.5rem;
} 

#plans .card-left {
    width: 60%;
}

.card-right {
    padding-top: 0.5rem;
}

.card-left .price {
    margin-bottom: 2rem;
}

/* / #plans */

/* partner */ 
#partner {
    margin: 7rem 0;
}
#partner .col-7 img {
    width: 100%;
}

#partner .col-5 {
    padding: 2rem 0 0 2rem;
}

#partner p {
    margin: 0.5rem 0 1rem 0;
}

/* /partner */

/* operations */
#operations {
    margin-bottom: 7rem;
}
#operations .col-4 img {
    width: 100%;
}

#operations .col-4 {
    padding: 0.7rem;
}

#operations .col-4 p {
    margin-top: 1.7rem;
}
/* /operations */

/* teams */
.teams-top {
    padding-bottom: 7rem;
}

#teams h2 {
    width: 60%;
}

#teams .block {
    width: calc(100% / 3);
}

.middle-block {
    background-color: var(--db-caption);
    padding: 2rem;
}

.middle-block img {
    width: 50%;
    padding-bottom: 2rem;
}

.middle-block span {
    padding: 2rem 0;
}
/* .teams-block */
.teams-blocks .d-flex {
    flex-wrap: wrap;
} 

.teams-blocks .square {
    width: 50%;
    aspect-ratio: 1 / 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

#teams .square img {
    filter: invert(99%) sepia(1%) saturate(0%) hue-rotate(82deg) brightness(104%) contrast(101%);
    max-width: 100%;
}

#designit {
    background-color: var(--db-designit);
    border: 0.5rem solid var(--db-designit-border);
}

#arizona {
    background-color: var(--db-arizona);
}

#florida {
    background-color: var(--db-florida);
}

#topps {
    background-color: var(--db-topps);
}

#bicycle {
    background-color: var(--db-bycicle);
}

#hearst {
    background-color: var(--db-primary);
}

#lonely {
    background-color: var(--db-lonely);
}

#clear {
    background-color: var(--db-clear);
}
/* /.teams-block */
/*  /teams */

/*free-trial */
#free-trial {
    background-color: var(--db-primary);
    padding: 6rem 0 5rem 0;
}

#free-trial .container-sm {
    position: relative;
}

#free-trial a {
    position: absolute;
    top: 25%;
    right: 0;
}

#free-trial h2 {
    color: var(--db-arizona);
    width: 50%;
}
/* /free-trial */

/* faq */
#faq {
    padding-bottom: 6rem;
}
#faq h2 {
    border-bottom: 1px solid var(--db-light);
    padding: 7rem 0 2.5rem 0;
    margin-bottom: 0;
}

#faq ul li {
    border-bottom: 1px solid var(--db-light);
}

#faq .question {
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0 1.5rem 0;
    font-size: 0.5rem;
}

#faq p {
    margin: -1.5rem 0 1rem 0;
    font-size: 0.8rem;
}

#faq li p, #faq li .fa-chevron-up {
    display: none;
}
/* faq effect */
#faq li:hover .fa-chevron-down {
    display: none;
}

#faq li:hover .fa-chevron-up {
    display: inline-block;
}

#faq li:hover p {
    display: inline-block;
}
/* /faq effect */

/* /faq */

/* #endregion Main */

/* #region Footer */
#app_footer {
    background-color: var(--db-darker);
    padding-top: 2rem;
    font-size: 0.76rem;
    font-weight: 300;
}

#app_footer .top h4 {
    color: var(--db-lighter);
    padding-bottom: 0.8rem;
}


#app_footer .item {
    width: calc(100% / 5);
    margin: 3rem 0 6rem 0;
}

#app_footer ul li {
    color: var(--db-lighter);
    line-height: 1.5rem;
}

#app_footer .bottom {
    color: var(--db-light);
    padding: 2rem 0;
}

#app_footer .bottom .fa-earth-europe {
    padding-right: 0.2rem;
}

/* #endregion Footer */

.prova {
    width: 100px;
    aspect-ratio: 1 / 1;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
}

.prova img {
    width: 50%;
}